#thebrand {
    background-color: rgba(150, 200, 200, 0.20);
    color: darkolivegreen;
    font-style: italic;
    font-weight: bolder;
    font-size: 40px;
    background-image: url('../images/beard-logo.png');
    background-repeat: no-repeat;
    background-size: 70px;

    background-position: 1%;
    padding: 1em 0em 1em 3.1em;
}

h1 {
    font-size: 24px;
}

.importantbeards {
    color: orangered;
    font-weight: 900;
}

main {
    background-color: rgba(150, 200, 200, 0.20)
}

nav a {
    font-weight: bold;
    color: darkolivegreen;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: rgba(150, 200, 200, 0.20);
    padding: 0;
}

nav li:hover {
    background-color: mediumpurple;
}
/*nav link structure - makes nav links horizontal*/

nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }

body div#backgroundBeard {
    background-image: url('../images/beard_background.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#maxWidth {
    max-width: 700px;
    margin: auto;
}

#imageGallery {
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

div.galleryItem {
    display: inline-block;
    width: 250px;
    height: auto;
    margin: 15px 5px;
}

div.galleryItem img{
    width: 235px;
    height: 180px;
    top: auto;
}

/*
    #imageGallery {
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

div.galleryItem {
    margin: 5px;
    border: 1px solid lightsalmon;
    display: inline-block;
    width: 350px;
}

    div.galleryItem:hover {
        border: 1px solid lightsalmon;
    }

    div.galleryItem img {
        width: 25%;
        height: auto;
    }

*/