#thebrand {
    background-color: rgba(150, 200, 200, 0.20);
    color: darkolivegreen;
    font-style: italic;
    font-weight: bolder;
    font-size: 34px;
    background-image: url('../images/beard-logo.png');
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 4% center;
    padding: 1em 0em 1em 3em;
}

h1 {
    font-size: 24px;
}

.importantbeards {
    color: orangered;
    font-weight: 900;
}

main {
    background-color: rgba(150, 200, 200, 0.20)
}

nav a {
    font-weight: bold;
    color: darkolivegreen;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: rgba(150, 200, 200, 0.20);
    padding: 0;
}

nav li:hover {
    background-color: mediumpurple;
}
/*nav link structure - makes nav links horizontal*/

nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }
